{% extends "base.html" %} {% block title %}
CEX - Buy Page

{% endblock %}
{% block content %}

<br>

<form method="post" action="/buy-transaction">
    <table>
         <tr >
            <td style="text-align: center">
                <input
                  type="text"
                  class="form-control"
                  id="curencyName"
                  name="curencyName"
                  value={{ cryptoName }}
                  readonly
                  />
            </td>
            <td style="text-align: center">
                  <input
                  type="text"
                  class="form-control"
                  id="curencyValue"
                  name="curencyValue"
                  value={{ cryptoValue }}
                  readonly
                  />
            </td>
             <td style="text-align: center">
                  <input
                  type="number"
                  class="form-control"
                  id="amount"
                  name="amount"
                  placeholder="Enter amount to buy"
                  />
            </td>


             <td><button type="submit" class="btn btn-primary">BUY</button> </td>

         </tr>
    </table>
</form>

{% endblock %}