{% extends "base.html" %} {% block title %}
CEX - Buy Page

{% endblock %}
{% block content %}

<br>

<form method="post" action="/buy-crypto">
    <table>
         <tr >
            <td style="text-align: center">
                <input
                  type="text"
                  class="form-control"
                  id="currency"
                  name="currency"
                  value={{ currency }}
                  readonly
                  />
            </td>
            <td style="text-align: center">
                  <input
                  type="text"
                  class="form-control"
                  id="price"
                  name="price"
                  value={{ price }}
                  readonly
                  />
            </td>
             <td style="text-align: center">
                  <input
                  type="number"
                  class="form-control"
                  id="amount"
                  name="amount"
                  placeholder="Enter amount to buy"
                  step="any"
                  />
            </td>


             <td><button type="submit" class="btn btn-primary">BUY</button> </td>

         </tr>
    </table>
</form>

{% endblock %}