{% extends "base.html" %} {% block title %}Exchange Crypto{% endblock %} {% block content %}


<form method="POST" action="/exchange-confirm">
    <table border="1">
        <tr>
        <th colspan="2" class="text-center">Exchange From</th>
        <th colspan="2" class="text-center">Exchange To</th>
        </tr>
        <tr>
            <td colspan="2" class="text-center">{{ sellingCurrency }}</td>
            <input type="hidden" id="scurr" name="scurr" value="{{ sellingCurrency }}">
            <td align="center">
                <select id="bcurr" name="bcurr">
                    {% for item in buyingCurrency %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>

            <td colspan="2"><input type="number"
                   id="samount"
                   class="form-control"
                   name="samount"
                   placeholder=" Available {{ sellingBalance }}"
                   step="any"
                   max="{{ sellingBalance }}"
                       required
            />
            </td>
            <td><button type="submit" class="btn btn-primary">CALCULATE</button></td>
        </tr>

    </table>
</form>


{% endblock %}