{% extends "base.html" %} {% block title %}
CEX - Home Page

{% endblock %}
{% block content %}

<br>
<table border="1" style="width: 25%" >
    <tr>
        <td>Currency</td>
        <td>Value in $USD</td>
    </tr>
{% for key,value in crypto.items() %}

<form method="post" action="/market">
         <tr >
            <td style="text-align: center">
                <input
                  type="text"
                  class="form-control"
                  id="curencyName"
                  name="curencyName"

                  value={{ key }}
                  readonly
                  />
            </td>
            <td style="text-align: center">
                  <input
                  type="text"
                  class="form-control"
                  id="curencyValue"
                  name="curencyValue"


                  value={{ value }}
                  readonly
                  />
            </td>
             {% if "user" in session%}
             <td><button type="submit" class="btn btn-primary" formaction="/buy">BUY</button> </td>
             <td><button type="submit" class="btn btn-primary" formaction="/sell-form">SELL</button> </td>
             {%endif%}
         </tr>
</form>
{% endfor %}
</table>

{% endblock %}
