{% extends "base.html" %} {% block title %}CEX - Log In{% endblock %}  {% block content %}
<h1>Log In</h1>
<form method="POST">
      <table>
            <tr>
                  <td>Email</td>
                  <td>
                        
                        
                        <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Enter email"
                        required
                        />
                        
                  </td>
            </tr>
            <tr>
                  <td>Password</td>

                  <td>
                        <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        required
                        />
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="right">
                        <button type="submit" class="btn btn-primary">Login</button>
                  </td>
            </tr>
      </table>
</form>
{% endblock %}

