{% extends "base.html" %} {% block title %}Credit card Page{% endblock %} {% block content %}


<form method="POST" action="/profile/verification">
    <table border="1">
        <tr>
            <td>Full name</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="cowner"
                  name="cowner"
                  placeholder="Enter full name"
                  required
                  />
            </td>
        </tr>
        <tr>
            <td>Card number</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="cnum"
                  name="cnum"
                  placeholder="Enter card number"
                  required
                  />
            </td>
        </tr>
        <tr>
            <td>Expire date</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="cdate"
                  name="cdate"
                  placeholder="Enter expire date"
                  required
                  />
            </td>
        </tr>
        <tr>
            <td>Security code</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="ccvv"
                  name="ccvv"
                  placeholder="Enter adress"
                  required
                  />
            </td>
        </tr>

          <tr colspan=2>

          <button type="submit" class="btn btn-primary">Register</button>
          </tr>
    </table>
</form>


{% endblock %}