{% extends "base.html" %} {% block title %}Credit card Page{% endblock %} {% block content %}


<form method="POST" action="/profile/verification">
    <table border="0">
        <tr>
            <td>Full Name</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="cowner"
                  name="cowner"
                  placeholder="Enter Full Name"
                  required
                  />
            </td>
        </tr>
        <tr>
            <td>Card Number</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="cnum"
                  name="cnum"
                  placeholder="Enter Card Number"
                  required
                  />
            </td>
        </tr>
        <tr>
            <td>Expire Date</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="cdate"
                  name="cdate"
                  placeholder=" MM/YY "
                  required
                  />
            </td>
        </tr>
        <tr>
            <td>CVV</td>
            <td>
                  <input
                  type="text"
                  class="form-control"
                  id="ccvv"
                  name="ccvv"
                  placeholder="CVV"
                  required
                  />
            </td>
        </tr>
          <tr>
              <td colspan="2" align="right">
                  <button type="submit" class="btn btn-primary">Verify</button>
              </td>
          </tr>
    </table>
</form>


{% endblock %}