{% extends "base.html" %} {% block title %}
CEX - MY WALLET

{% endblock %}
{% block content %}

<br>
<table border="1" style="width: 25%" >
    <tr>
        <td>Currency</td>
        <td>Balance</td>
    </tr>
{% for item in crypto %}

<form method="post" action="/wallet">
         <tr >
            <td style="text-align: center">
                <input
                  type="text"
                  class="form-control"
                  id="currency"
                  name="currency"

                  value="{{ item['currency'] }}"
                  readonly
                  />
            </td>
            <td style="text-align: center">
                  <input
                  type="text"
                  class="form-control"
                  id="balance"
                  name="balance"


                  value="{{ item['amount'] }}"
                  readonly
                  />
            </td>
             <td>

             </td>

             {% if "user" in session%}
             <td><button type="submit" class="btn btn-primary" formaction="/buy">BUY</button> </td>
             <td><button type="submit" class="btn btn-primary" formaction="/sell-form">SELL</button> </td>
             <td><button type="submit" class="btn btn-primary" formaction="/withdraw-form">WITHDRAW</button> </td>
             <td><button type="submit" class="btn btn-primary" formaction="/exchange-form">EXCHANGE</button> </td>
             {%endif%}
         </tr>
</form>
{% endfor %}
</table>

{% endblock %}
