{% extends "base.html" %} {% block title %}
CEX - MY WALLET

{% endblock %}
{% block content %}

<h1>My Wallet</h1>
<br>
<table border="0" style="width: 37%" >
    <tr>
        <th class="text-center">Currency</th>
        <th class="text-center">Balance</th>
    </tr>
{% for key,value in crypto.items() %}

<form method="post" action="/wallet">
         <tr >
            <td style="text-align: center">
                <input
                  type="text"
                  class="form-control"
                  id="currency"
                  name="currency"

                  value={{ key }}
                  readonly
                  />
            </td>
            <td style="text-align: center">
                  <input
                  type="text"
                  class="form-control"
                  id="balance"
                  name="balance"


                  value="{{ value }}"
                  readonly
                  />
            </td>

             {% if "user" in session%}
             <td><button type="submit" class="btn btn-primary" formaction="/withdraw-form">WITHDRAW</button> </td>
             <td><button type="submit" class="btn btn-primary" formaction="/exchange-form">EXCHANGE</button> </td>
             {%endif%}
         </tr>
</form>
{% endfor %}
</table>

{% endblock %}
